.body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    width: 390px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}
/* navbar & items*/

#navbar{
    
    background-color: whitesmoke;
}
.nav-items{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-gap: .2rem;
    align-content: center;    
    
}
.nav-items a{
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    color: rgba(255, 255, 205, 0.7);
    text-align: center;
    padding: .5rem .5rem;
    border-bottom: 5px;
    background-color: rgba(83, 84, 88, 0.60);
}

.nav-items a:hover{
    background-color: rgba(0, 0, 0, 0.288);
    color: rgba(255, 255, 255, 1.00);
    border-radius: 5px;
    text-decoration: underline;
}

/* banner section*/

#banner {
    background-image:linear-gradient(rgba(126, 135, 146, 0.3),rgba(126,135,146,.30)),url('/img/poster.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: .5rem;
    
}
#banner .text{
    height: 200px;
    text-align: center;
}
#banner .text h2{
    margin:0 0 ;
    font-weight: 600;
    text-shadow: 1px 1px whitesmoke;
}
/* personal bio */
#personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color:rgba(126,135,146,.20) ;
    margin-top: .5rem;
} 

.pic{
    text-align: center;
    align-content: center;
}

.pic-round{
    width: 15rem;
    display: block;
    border-radius: 50%;   
    position: relative;
    left: 20%;
    border: solid 5px white;
}
#personal .text{
    padding: 0 .5rem;
    font-size: 1.2rem;
}
/* quick info*/
.quick-info{
    margin-top: .5rem;
    background-color:rgba(126,135,146,.20); 
    list-style: none;
    text-align: center;
    padding-bottom: .5rem;
}

.quick-info h1 h3 li {
    font-size: large;
    font-weight: bolder;
}
/* invention style */
#invention{
    margin-top: .5rem;
    background-color:rgba(126,135,146,.20);
    text-align: justify;
    padding: .5rem .5rem;
    font-size: 1.2rem;
}
#invention h2{
    text-align: center;
}

/* history section*/
#history{
    display: flex;
    flex-direction: column;
    background-color:rgba(126,135,146,.20);
    margin-top: .5rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
}

.prize-img{
    width: 300px;
    position: relative;
    left: 10%;
}
.image P{
    text-align: center;
    font-size: 1.2rem;
}
/* death section*/

#end{
    background-color:rgba(126,135,146,.20);
    margin-top: .5rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
}
#end h1, #invention h1, #history h1 {
    text-align: center;
}
/* footer & social links*/
footer{
    margin-top: .5rem ;
    background-image: url('/img/cover_page.jpg');
    border-bottom: .2rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    font-size: 1rem;
}

.social-links {
    padding-bottom: 0.5rem;
}
.text a{
    color: rgba(245, 245, 245, 0.60);
}
.text a:hover{
    color: rgba(245, 245, 245, 0.90);
}


.social-links i{
    color:rgba(245, 245, 245, 0.60);
}
.social-links i:hover{
    color:rgba(245, 245, 245, 0.9);
}


/* reponsive behaviour for tablet */
@media(min-width: 768px){
    #container{
        width: 700px;
    }  
    
    .pic-round{
        position: relative;
        left: 30%;
    }
    #invention h2 {
        text-align: center;
    }
    .prize-img{
        position: relative;
        left: 25%;
    }

}

/* responsive behaviour for laptop*/

@media(min-width: 900px){
    #container{
        width: 800px;
    }
    .pic-round{
        position: relative;
        left: 35%;
    }
    .prize-img{
        position: relative;
        left: 30%;
    }    
    #invention h2 {
        text-align: center;
    }
    
}



