
body{
    background-color: rgba(172, 33, 33, 0.945);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:0;
    padding: 0;
    box-sizing: border-box;
}

/* main container  */
.container{
    padding: 3px 3px;
    border: black;
    display: grid;
    grid-gap: 1rem ;
} 

/* nav bar  */
.navbar {
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 0.5rem ;
    text-align: center;
    height: auto;
    align-content: center;  
    border: 1rem; 
}

.navbar a {
    text-decoration: none;
    font-weight: 600;
    color:rgb(24, 21, 21);
    display: block;
    text-transform: uppercase;
    background-color: beige;
}
.navbar a:hover {
    background-color: black;
    color: rgba(245, 245, 245, 0.788);
}

/* top image section */
.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
}

.poster h1{
    background-color: rgba(245, 245, 220, 0.747);
    font-style: oblique;
    padding: 1rem 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/* about button section */ 
.about {
    border-radius: 5px;
    display: grid;
    min-height: 300px;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    border: black;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-areas: 
     'left-side right-side';    
}
.left-side {
    grid-area:left-side ;
    border-style: double;
    padding: 8px 8px;
    border-radius: 5px;
}
.left-side img{
    max-width: 60%;
    border-radius: 20px;
}
.left-side p{
    text-align: justify;
    background-color: lightgray;
    width: 800px;
    font-size: medium;
    padding: 1rem 1rem; 
}

.right-side {
    text-align: center;
    border-style: double;
    border-radius: 5px;
    list-style: none;
}
.right-side h1{
    text-transform: uppercase;
    text-decoration: wavy;
    text-decoration: underline;
}

.right-side h3 {
    text-decoration: underline;
}


/*  his invetion */ 
.invention {
    background-color: beige;
    border-radius: 5px;
    text-align: justify;
    padding: 1rem 1rem;
}
.invention h1,h2 {
    text-decoration: underline;
}
.invention p{
    border-style: dotted;
    padding: 1rem 1rem;
    background-color: lightgrey;
}

.nobel {
    max-width: 100%;
    border-radius: 5px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    background-color: beige;
    padding: 1rem 1rem;
    grid-template-areas: 
    'history imgnobel';
}

/* history button section */

.history {
    grid-area: history;
    text-align: justify;
}
.history p{
    background-color: lightgray;
    padding: 0.5rem 0.5rem ;
}

.imgnobel {
    grid-area: imgnobel ;
    justify-content: right;
}

.imgnobel img {
    max-width: 50%;
    position: relative;
    right: -30%;
    
}
.imgnobel p{
    text-align: center;
    background-color: lightgray;
    padding: 0.5rem 0.5rem;
}

/* death button section*/

.death {
    border-radius: 5px;
    background-color: beige;
    padding: 1rem 1rem;
    
}
.death p{
    background-color: lightgrey;
    padding: 0.5rem 0.5rem;
    text-align: justify;
}

/* footer section*/
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(151, 211, 151, 0.856);
    border-radius: 5px;   
}

footer .text {
    text-align: center;
    font-style: normal;
    padding: 0.5rem 0.5rem;
    font-weight: 300;
    
}

footer .social-links {
    justify-items: center;
    align-self: center;
    background-color:wheat;
}

footer p{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

/* social links & others*/
footer .social-links a:hover {
    color: #00FFFF;    
}

footer .text a:hover {
    color: #00FFFF;
}
footer .text a{
    background-color: gray;
    padding: 0.2rem 0.2rem;
}

/*media queries approx target device ipad */

@media (max-width:768px) {
    .navbar {
        grid-template-columns: 1fr;
    }
    .about {
        grid-template-areas: 
        'left-side'
        'right-side';
    }    
}
